#header{
	width: 700px;
	height: 80px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin: 10px;
}
ul {
	list-style-type: none;
}
#header ul li{
	float: left;
	padding: 20px;
	border-right: 2px solid black;
}
#header ul li a{
	padding: 10px;
	font-weight: bold;
}
#text1{
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}
#text2{
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
}
#content{
	width: 900px;
	height: 100px;
	border-top: 2px solid white;
	background-color: blue;
	margin: 10px;
	border:2px solid black;
}
#content ul li{
	float: left;
	padding: 20px;
	text-align: center;
	border-right: 2px solid white;
}
#content ul li a{
	padding: 10px;
	font-weight: bold;
	color: white;
	text-decoration-line: none;
}
#content ul li ul{
	display: none;
}
#content ul li:hover ul{
	display: block;
}
#main ul li:hover >ul {
	display: block;
}
#main > ul ::after{
	display: block;
	clear: both;
}
#menu{
	width: 10px;
}