*{
	margin: 0;
	padding: 0;
}
body{
	margin: auto;
	max-width: 400px;
	border: 1px solid black;
	margin-top: 20px;
	width: 900px;
	box-shadow:5px 5px 5px black;	
}
header{
	padding: 10px;
	margin: 10px;
	background-color:pink;
}
form p{
	font-size: 17px;
	padding: 10px;
	font-family: tahoma;
}
select {
	padding: 10px;
	margin: 10px;
}